name: .NET Puplish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET5
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Publish with dotnet
      run: dotnet publish CfStreamUploader/CfStreamUploader.Presentation/CfStreamUploader.Presentation.csproj -r win-x64 -c Release --self-contained true /p:useapphost=true /p:PublishSingleFile=True
    - name: GH Release
      uses: softprops/action-gh-release@v0.1.5
      with:
        # Note-worthy description of changes in release
        body: Automatic Published PreRelease
        # Path to load note-worthy description of changes in release from
        # body_path: # optional
        # Gives the release a custom name. Defaults to tag name
        # name: # optional
        # Creates a draft release. Defaults to false
        draft: false
        # Identify the release as a prerelease. Defaults to false
        prerelease: true
        # Newline-delimited list of path globs for asset files to upload
        files: CfStreamUploader/CfStreamUploader.Presentation\bin\Release\netcoreapp3.1\win-x64\publish\CfStreamUploader.Presentation.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
